<a href="{{ path(route, query|merge({
    sort: field,
    direction: (currentSort == field and currentDirection == 'asc') ? 'desc' : 'asc'
})) }}">
    {{ label }}

    {% if currentSort == field %}
        {% if currentDirection == 'asc' %}
            ↑
        {% else %}
            ↓
        {% endif %}
    {% endif %}
</a>
